:root {
  --neutral: #888;
  --neutral-lightest: #f9f9f9;
  --neutral-light: #cfcfcf;
  --neutral-dark: #5f5f5f;
  --neutral-darkest: #747474;
  --purple: #7d58ff;
  --purple-lightest: #f9f7ff;
  --purple-light: #cbbcff;
  --purple-dark: #583eb3;
  --purple-darkest: #6a4bd9;
  --blue: #157ff2;
  --blue-lightest: #f3f9fe;
  --blue-light: #a1ccfa;
  --blue-dark: #0f59a9;
  --blue-darkest: #126cce;
  --red: #eb293a;
  --red-lightest: #fef4f5;
  --red-light: #f7a9b0;
  --red-dark: #a51d29;
  --red-darkest: #c82331;
  --orange: #f56753;
  --orange-lightest: #fff7f6;
  --orange-light: #fbc2ba;
  --orange-dark: #ac483a;
  --orange-darkest: #d05847;
  --yellow: #f9a328;
  --yellow-lightest: #fffaf4;
  --yellow-light: #fddaa9;
  --yellow-dark: #ae721c;
  --yellow-darkest: #d48b22;
  --green: #14c684;
  --green-lightest: #f3fcf9;
  --green-light: #a1e8ce;
  --green-dark: #0e8b5c;
  --green-darkest: #11a870;
  --pink: #ff007d;
  --pink-lightest: #fff2f9;
  --pink-light: #ff99cb;
  --pink-dark: #b30058;
  --pink-darkest: #d9006a;
  --cyan: #20d5ff;
  --cyan-lightest: #f4fdff;
  --cyan-light: #a6eeff;
  --cyan-dark: #1695b3;
  --cyan-darkest: #1bb5d9;
  --border: #ddd;
  --border-radius: 3px;
  --bg: #fff;
  --fg: #333;
}

[theme=dark]:root {
  --neutral: #888;
  --neutral-lightest: #0f0f0f;
  --neutral-light: #363636;
  --neutral-dark: #c4c4c4;
  --neutral-darkest: #949494;
  --purple: #7d58ff;
  --purple-lightest: #0e0a1c;
  --purple-light: #322366;
  --purple-dark: #beacff;
  --purple-darkest: #8a69ff;
  --blue: #157ff2;
  --blue-lightest: #020e1b;
  --blue-light: #083361;
  --blue-dark: #8abff9;
  --blue-darkest: #2c8cf3;
  --red: #eb293a;
  --red-lightest: #1a0506;
  --red-light: #5e1017;
  --red-dark: #f5949d;
  --red-darkest: #ed3e4e;
  --orange: #f56753;
  --orange-lightest: #1b0b09;
  --orange-light: #622921;
  --orange-dark: #fab3a9;
  --orange-darkest: #f67664;
  --yellow: #f9a328;
  --yellow-lightest: #1b1204;
  --yellow-light: #644110;
  --yellow-dark: #fcd194;
  --yellow-darkest: #faac3e;
  --green: #14c684;
  --green-lightest: #02160f;
  --green-light: #084f35;
  --green-dark: #8ae3c2;
  --green-darkest: #2ccc90;
  --pink: #ff007d;
  --pink-lightest: #1c000e;
  --pink-light: #660032;
  --pink-dark: #ff80be;
  --pink-darkest: #ff1a8a;
  --cyan: #20d5ff;
  --cyan-lightest: #04171c;
  --cyan-light: #0d5566;
  --cyan-dark: #90eaff;
  --cyan-darkest: #36d9ff;
  --border: #333;
  --border-radius: 3px;
  --bg: rgb(0, 0, 0);
  --fg: #eee;
}

html, body {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  background-color: var(--bg);
  color: var(--fg);
}

.alert {
  --alert-border: var(--blue-dark);
  --alert-background: var(--blue-lightest);
  --alert-text: var(--blue-darkest);
  --alert-icon-size: 16px;
  --alert-font-size: 0.875rem;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  margin-bottom: 4rem;
  padding: calc(var(--alert-icon-size) / 2);
  position: relative;
  font-family: inherit;
  line-height: 0.875rem;
  border-radius: 4px;
  border: 1px solid;
  border-color: var(--alert-border-color);
  background-color: var(--alert-background);
  color: var(--alert-text);
  font-size: var(--alert-font-size);
  gap: 1rem;
}
.alert .alert-icon {
  width: var(--alert-icon-size);
  height: var(--alert-icon-size);
}
.alert .alert-icon svg {
  fill: var(--alert-text);
}
.alert .alert-text {
  flex: 1 auto;
}
.alert .alert-dismiss {
  display: none;
  width: var(--alert-icon-size);
  height: var(--alert-icon-size);
}
.alert .alert-dismiss svg {
  fill: var(--alert-text);
  cursor: pointer;
}
.alert[data-state=warning] {
  --alert-border-color: var(--orange-dark);
  --alert-background: var(--orange-lightest);
  --alert-text: var(--orange-dark);
}
.alert[data-state=error] {
  --alert-border-color: var(--red-dark);
  --alert-background: var(--red-lightest);
  --alert-text: var(--red-dark);
}
.alert[data-type=inline] {
  --alert-border-color: transparent;
  --alert-background: --transparent;
}
.alert[dismissable] .alert-dismiss {
  display: block;
}

.badge {
  --badge-background: var(--neutral-light);
  --badge-color: var(--neutral-dark);
  --badge-border-radius: 2px;
  user-select: none;
  background-color: var(--badge-background);
  color: var(--badge-color);
  border-radius: var(--badge-border-radius);
  display: inline-flex;
  padding: 0.25rem 0.5rem;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 10px;
}
.badge.solid {
  background-color: var(--badge-color);
  color: var(--badge-background);
}
.badge[data-color=blue] {
  --badge-background: var(--blue-light);
  --badge-color: var(--blue-dark);
}
.badge[data-color=red] {
  --badge-background: var(--red-light);
  --badge-color: var(--red-dark);
}
.badge[data-color=yellow] {
  --badge-background: var(--yellow-light);
  --badge-color: var(--yellow-dark);
}
.badge[data-color=orange] {
  --badge-background: var(--orange-light);
  --badge-color: var(--orange-dark);
}
.badge[data-color=green] {
  --badge-background: var(--green-light);
  --badge-color: var(--green-dark);
}
.badge[data-color=teal] {
  --badge-background: var(--teal-light);
  --badge-color: var(--teal-dark);
}
.badge[data-color=cyan] {
  --badge-background: var(--cyan-light);
  --badge-color: var(--cyan-dark);
}

.btn {
  --button-background: var(--blue);
  --button-color: var(--blue-lightest);
  --button-border-color: var(--blue);
  --button-hover-bg: var(--blue-dark);
  --button-focus-color: var(--blue-darkest);
  user-select: none;
  align-items: center;
  box-sizing: border-box;
  flex-wrap: nowrap;
  height: 2rem;
  justify-content: center;
  padding: 0.01rem 1rem;
  position: relative;
  border-radius: 2px;
  cursor: pointer;
  font-family: inherit;
  font-size: 12px;
  font-weight: 600;
  line-height: 2rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
  background-color: var(--button-background);
  border: 1px solid var(--button-border-color);
  color: var(--button-color);
}
.btn:hover:not([disabled]) {
  filter: saturate(200%);
}
.btn:active:not([disabled]) {
  transform: translateY(1px);
}
.btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.btn:focus-visible {
  outline: 4px solid var(--button-focus-color);
  outline-offset: 2px;
}
.btn:focus:not(:focus-visible) {
  box-shadow: 0 0 0 2px var(--button-focus-color);
  outline: none;
}
.btn.success {
  --button-background: var(--green-lightest);
  --button-color: var(--green-dark);
  --button-border-color: var(--green-dark);
  --button-hover-bg: var(--green-base);
  --button-focus-color: var(--green-base);
}
.btn.danger {
  --button-background: var(--red-lightest);
  --button-color: var(--red-dark);
  --button-border-color: var(--red-dark);
  --button-hover-bg: var(--red-base);
  --button-focus-color: var(--red-base);
}
.btn.solid {
  background-color: var(--button-border-color);
  color: #fff;
}
.btn.minimal {
  background-color: transparent;
  border-color: transparent;
  color: var(--button-border-color);
}
.btn.loading svg {
  height: 16px;
  width: 16px;
  transform: translateY(2px) translateX(-2px);
}
.btn.loading svg circle {
  stroke-dashoffset: 600;
  stroke-dasharray: 300;
  stroke-width: 12;
  stroke-miterlimit: 10;
  stroke-linecap: round;
  animation: loading 1.6s cubic-bezier(0.4, 0.15, 0.6, 0.85) infinite;
  stroke: rgba(192, 204, 216, 0.47);
  fill: transparent;
}

@keyframes loading {
  0% {
    stroke-dashoffset: 600;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
input[type=checkbox] {
  background-color: var(--neutral-lightest);
  border-color: var(--border);
  border: 1px solid var(--border);
  width: 24px;
  height: 24px;
  appearance: none;
  position: relative;
  user-select: none;
  cursor: pointer;
  border-radius: 2px;
}
input[type=checkbox]:before {
  content: "";
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: var(--green);
  position: absolute;
  top: 4px;
  left: 4px;
  scale: 0;
  transition: scale 100ms ease-in-out, rotate 100ms ease-in-out 50ms;
}
input[type=checkbox]:checked:before {
  scale: 1;
  rotate: 90deg;
  border-radius: 2px;
}
input[type=checkbox]:focus {
  outline: 1px solid var(--green-dark);
  outline-offset: 2px;
}

dialog {
  border: 1px solid var(--neutral-base);
  border-radius: 3px;
  box-shadow: var(--elevation-5);
  animation: moveIn 1s ease-in-out;
}

dialog::backdrop {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0);
  backdrop-filter: blur(1px);
}

dialog.menu::backdrop {
  display: none;
}

dialog.menu:modal {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  height: min-content;
  contain-intrinsic-size: 100px 100px;
}

.menu-item {
  display: flex;
  height: 2rem;
  padding: 0 0.6rem;
  position: relative;
  line-height: 13px;
  color: var(--neutral-base);
  background-color: var(--white);
  align-items: center;
}
.menu-item:before {
  content: "";
  background-color: var(--blue-base);
  width: 2px;
  top: 0;
  left: 0;
  transform: matrix(0, 0, 0, 1, 0, 0);
  transform-origin: 0px 16px;
}
.menu-item:active {
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.menu-item:hover {
  background-color: var(--neutral-light);
}

ul, li {
  all: unset;
}

@keyframes moveIn {
  from {
    translateY: 20px;
  }
  to {
    translateY: 0;
  }
}
input[type=radio] {
  background-color: var(--neutral-lightest);
  border: 1px solid;
  border-color: var(--border);
  width: 24px;
  height: 24px;
  appearance: none;
  position: relative;
  user-select: none;
  cursor: pointer;
  border-radius: 50%;
}
input[type=radio]:before {
  content: "";
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: var(--green);
  position: absolute;
  top: 4px;
  left: 4px;
  scale: 0;
  transition: scale 100ms ease-in-out, rotate 100ms ease-in-out 50ms;
}
input[type=radio]:checked:before {
  scale: 1;
  rotate: 90deg;
}

select {
  border-radius: 2px;
  border: 1px solid var(--neutral-light);
  font-family: inherit;
  padding: 0.25rem 0.5rem;
  height: 2rem;
  box-sizing: border-box;
  display: inline-flex;
  background-color: var(--neutral-lightest);
}
select[multiple] {
  height: auto;
}
select option {
  border: 1px solid var(--neutral-light);
  padding: 0.25rem 0.5rem;
}

progress {
  display: block;
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
}
progress::-webkit-progress-bar {
  background-color: var(--neutral-lightest);
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15) inset;
}
progress[value] {
  height: 20px;
  background-color: var(--blue);
  -webkit-animation: animate-stripes 5s linear infinite;
  animation: animate-stripes 5s linear infinite;
  border-radius: 9999px;
}
progress[value]::-webkit-progress-value {
  background-image: -webkit-linear-gradient(-45deg, transparent 33%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 66%), -webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.25)), -webkit-linear-gradient(left, var(--blue), var(--green));
  border-radius: 9999px;
  background-size: 35px 20px, 100% 100%, 100% 100%;
}

@-webkit-keyframes animate-stripes {
  100% {
    background-position: -100px 0px;
  }
}
@keyframes animate-stripes {
  100% {
    background-position: -100px 0px;
  }
}
input:not([type=checkbox]):not([type=radio]), select, textarea {
  background-color: var(--bg);
  border-width: 1px;
  border-color: var(--border);
  border-style: solid;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 0.875rem;
  line-height: 1.2rem;
  color: var(--fg);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica", "Arial", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 500;
  text-rendering: optimizeLegibility;
  border-radius: 3px;
  align-items: center;
  display: -ms-flexbox;
  display: flex;
  height: 2rem;
  justify-content: center;
  transition: all 0.05s ease;
  width: 100%;
  box-sizing: border-box;
}
input:not([type=checkbox]):not([type=radio]):focus, select:focus, textarea:focus {
  background-color: var(--purple-lightest);
  border-color: var(--purple);
  outline: 0;
}

label {
  margin-top: 0;
  margin-bottom: 4px;
  color: var(--fg);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica", "Arial", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 600;
  text-rendering: geometricPrecision;
  display: block;
  font-size: 0.78rem;
}
label.inline {
  display: inline-block;
}

/*# sourceMappingURL=bundle.css.map */
