:root {
  --N1: #f9f9fb;
  --N2: #f5f6f7;
  --N3: #edf0f2;
  --N4: #e4e7eb;
  --N5: #c7ced4;
  --N6: #a6b1bb;
  --N7: #7b8b9a;
  --N8: #66788a;
  --N9: #425a70;
  --N10: #234361;
  --N1A: rgba(67, 90, 111, .04);
  --N2A: rgba(67, 90, 111, .06);
  --N3A: rgba(67, 90, 111, .09);
  --N4A: rgba(67, 90, 111, .14);
  --N5A: rgba(67, 90, 111, .3);
  --N6A: rgba(67, 90, 111, .47);
  --N7A: rgba(67, 90, 111, .7);
  --N8A: rgba(67, 90, 111, .81);
  --B1: #f7f9fd;
  --B2: #f1f7fc;
  --B3: #e9f2fa;
  --B4: #ddebf7;
  --B5: #b7d4ef;
  --B6: #8fbce6;
  --B7: #579ad9;
  --B8: #3d8bd4;
  --B9: #1070ca;
  --B10: #084b8a;
  --B1A: rgba(16, 112, 202, .04);
  --B2A: rgba(16, 112, 202, .06);
  --B3A: rgba(16, 112, 202, .09);
  --B4A: rgba(16, 112, 202, .14);
  --B5A: rgba(16, 112, 202, .3);
  --B6A: rgba(16, 112, 202, .47);
  --B7A: rgba(16, 112, 202, .7);
  --B8A: rgba(16, 112, 202, .81);
  --neutral-lightest: var(--N1);
  --neutral-light: var(--N4);
  --neutral-base: var(--N9);
  --neutral-dark: var(--N10);
  --blue-lightest: var(--B1);
  --blue-light: var(--B4);
  --blue-base: var(--B9);
  --blue-dark: var(--B10);
  --red-lightest: #fef6f6;
  --red-light: #fae2e2;
  --red-base: #ec4c47;
  --red-dark: #bf0e08;
  --orange-lightest: #fdf8f3;
  --orange-light: #fae3cd;
  --orange-base: #d9822b;
  --orange-dark: #95591e;
  --yellow-lightest: #fef8e7;
  --yellow-light: #fbe6a2;
  --yellow-base: #f7d154;
  --yellow-dark: #7e6514;
  --green-lightest: #f1faf5;
  --green-light: #d4eee2;
  --green-base: #47b881;
  --green-dark: #00783e;
  --teal-lightest: #f1fbfc;
  --teal-light: #d2eef3;
  --teal-base: #14b5d0;
  --teal-dark: #007489;
  --purple-lightest: #f8f7fc;
  --purple-light: #eae7f8;
  --purple-base: #735dd0;
  --purple-dark: #37248f;
  --color-border-default: var(--N4);
  --color-border-muted: var(--N3);
  --color-border-shadow: var(--N6A);
  --color-blurry-shadow: var(--N5A);
  --elevation-0: 0 0 1px var(--color-border-shadow);
  --elevation-1: 0 0 1px var(--color-border-shadow), 0 2px 4px -2px var(--color-blurry-shadow);
  --elevation-2: 0 0 1px var(--color-border-shadow), 0 5px 8px -4px var(--color-blurry-shadow);
  --elevation-3: 0 0 1px var(--color-border-shadow), 0 8px 10px -4px var(--color-blurry-shadow);
  --elevation-4: 0 0 1px var(--color-border-shadow), 0 16px 24px -8px var(--color-blurry-shadow);
  --elevation-5: 0 0 1px var(--color-border-shadow), 0 2px 4px -2px var(--color-blurry-shadow);
}

html, body {
  font-family: "Inter", sans-serif;
  font-size: 15px;
}

.alert {
  --alert-border: var(--blue-dark);
  --alert-background: var(--blue-lightest);
  --alert-text: var(--blue-darkest);
  --alert-icon-size: 16px;
  --alert-font-size: 0.875rem;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  margin-bottom: 4rem;
  padding: calc(var(--alert-icon-size) / 2);
  position: relative;
  font-family: inherit;
  line-height: 0.875rem;
  border-radius: 4px;
  border: 1px solid;
  border-color: var(--alert-border-color);
  background-color: var(--alert-background);
  color: var(--alert-text);
  font-size: var(--alert-font-size);
  gap: 1rem;
}
.alert .alert-icon {
  width: var(--alert-icon-size);
  height: var(--alert-icon-size);
}
.alert .alert-icon svg {
  fill: var(--alert-text);
}
.alert .alert-text {
  flex: 1 auto;
}
.alert .alert-dismiss {
  display: none;
  width: var(--alert-icon-size);
  height: var(--alert-icon-size);
}
.alert .alert-dismiss svg {
  fill: var(--alert-text);
  cursor: pointer;
}
.alert[data-state=warning] {
  --alert-border-color: var(--orange-dark);
  --alert-background: var(--orange-lightest);
  --alert-text: var(--orange-dark);
}
.alert[data-state=error] {
  --alert-border-color: var(--red-dark);
  --alert-background: var(--red-lightest);
  --alert-text: var(--red-dark);
}
.alert[data-type=inline] {
  --alert-border-color: transparent;
  --alert-background: --transparent;
}
.alert[dismissable] .alert-dismiss {
  display: block;
}

.badge {
  --badge-background: var(--neutral-light);
  --badge-color: var(--neutral-dark);
  --badge-border-radius: 2px;
  background-color: var(--badge-background);
  color: var(--badge-color);
  border-radius: var(--badge-border-radius);
  display: inline-flex;
  padding: 0.25rem 0.5rem;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 10px;
}
.badge.solid {
  background-color: var(--badge-color);
  color: var(--badge-background);
}
.badge[data-color=blue] {
  --badge-background: var(--blue-lightest);
  --badge-color: var(--blue-dark);
}
.badge[data-color=red] {
  --badge-background: var(--red-lightest);
  --badge-color: var(--red-dark);
}
.badge[data-color=yellow] {
  --badge-background: var(--yellow-lightest);
  --badge-color: var(--yellow-dark);
}
.badge[data-color=orange] {
  --badge-background: var(--orange-lightest);
  --badge-color: var(--orange-dark);
}
.badge[data-color=green] {
  --badge-background: var(--green-lightest);
  --badge-color: var(--green-dark);
}
.badge[data-color=teal] {
  --badge-background: var(--teal-lightest);
  --badge-color: var(--teal-dark);
}
.badge[data-color=purple] {
  --badge-background: var(--purple-lightest);
  --badge-color: var(--purple-dark);
}

.btn {
  --button-background: var(--blue-lightest);
  --button-color: var(--blue-dark);
  --button-border-color: var(--blue-base);
  --button-hover-bg: var(--blue-light);
  --button-focus-color: var(--blue-base);
  align-items: center;
  box-sizing: border-box;
  flex-wrap: nowrap;
  height: 2rem;
  justify-content: center;
  padding: 0.01rem 1rem;
  position: relative;
  border-radius: 2px;
  font-family: inherit;
  font-size: 13px;
  line-height: 2rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
  background-color: var(--button-background);
  border: 1px solid var(--button-border-color);
  color: var(--button-color);
}
.btn:hover:not([disabled]) {
  filter: saturate(200%);
}
.btn:active:not([disabled]) {
  transform: translateY(1px);
}
.btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.btn:focus-visible {
  outline: 4px solid var(--button-focus-color);
  outline-offset: 2px;
}
.btn:focus:not(:focus-visible) {
  box-shadow: 0 0 0 2px var(--button-focus-color);
  outline: none;
}
.btn.success {
  --button-background: var(--green-lightest);
  --button-color: var(--green-dark);
  --button-border-color: var(--green-dark);
  --button-hover-bg: var(--green-base);
  --button-focus-color: var(--green-base);
}
.btn.danger {
  --button-background: var(--red-lightest);
  --button-color: var(--red-dark);
  --button-border-color: var(--red-dark);
  --button-hover-bg: var(--red-base);
  --button-focus-color: var(--red-base);
}
.btn.solid {
  background-color: var(--button-border-color);
  color: var(--button-background);
}
.btn.minimal {
  background-color: transparent;
  border-color: transparent;
}
.btn.loading svg {
  height: 16px;
  width: 16px;
  transform: translateY(2px) translateX(-2px);
}
.btn.loading svg circle {
  stroke-dashoffset: 600;
  stroke-dasharray: 300;
  stroke-width: 12;
  stroke-miterlimit: 10;
  stroke-linecap: round;
  animation: loading 1.6s cubic-bezier(0.4, 0.15, 0.6, 0.85) infinite;
  stroke: rgba(67, 90, 111, 0.47);
  fill: transparent;
}

@keyframes loading {
  0% {
    stroke-dashoffset: 600;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
input[type=checkbox] {
  background-color: var(--green-lightest);
  border-color: var(--green-base);
  width: 24px;
  height: 24px;
  appearance: none;
  position: relative;
  user-select: none;
  cursor: pointer;
  border-radius: 2px;
}
input[type=checkbox]:before {
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 2px;
  background-color: var(--green-base);
  position: absolute;
  top: 4px;
  left: 4px;
  scale: 0;
  transition: scale 100ms ease-in-out, rotate 100ms ease-in-out 50ms;
}
input[type=checkbox]:checked {
  background-color: var(--green-light);
}
input[type=checkbox]:checked:before {
  scale: 1;
  rotate: 90deg;
}
input[type=checkbox]:focus {
  outline: 1px solid var(--green-dark);
  outline-offset: 2px;
}

dialog {
  border: 1px solid var(--neutral-base);
  border-radius: 3px;
  box-shadow: var(--elevation-5);
  animation: moveIn 1s ease-in-out;
}

dialog::backdrop {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0);
  backdrop-filter: blur(1px);
}

dialog.menu::backdrop {
  display: none;
}

dialog.menu:modal {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  height: min-content;
  contain-intrinsic-size: 100px 100px;
}

.menu-item {
  display: flex;
  height: 2rem;
  padding: 0 0.6rem;
  position: relative;
  line-height: 13px;
  color: var(--neutral-base);
  background-color: var(--white);
  align-items: center;
}
.menu-item:before {
  content: "";
  background-color: var(--blue-base);
  width: 2px;
  top: 0;
  left: 0;
  transform: matrix(0, 0, 0, 1, 0, 0);
  transform-origin: 0px 16px;
}
.menu-item:active {
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.menu-item:hover {
  background-color: var(--neutral-light);
}

ul, li {
  all: unset;
}

@keyframes moveIn {
  from {
    translateY: 20px;
  }
  to {
    translateY: 0;
  }
}
input[type=radio] {
  background-color: var(--green-lightest);
  border-color: var(--green-base);
  width: 24px;
  height: 24px;
  appearance: none;
  position: relative;
  user-select: none;
  cursor: pointer;
  border-radius: 50%;
}
input[type=radio]:before {
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: var(--green-base);
  position: absolute;
  top: 4px;
  left: 4px;
  scale: 0;
  transition: scale 100ms ease-in-out, rotate 100ms ease-in-out 50ms;
}
input[type=radio]:checked {
  background-color: var(--green-light);
}
input[type=radio]:checked:before {
  scale: 1;
  rotate: 90deg;
}

select {
  border-radius: 2px;
  border: 1px solid var(--neutral-light);
  font-family: inherit;
  padding: 0.25rem 0.5rem;
  height: 2rem;
  box-sizing: border-box;
  display: inline-flex;
  background-color: var(--neutral-lightest);
}
select[multiple] {
  height: auto;
}
select option {
  border: 1px solid var(--neutral-light);
}

/*# sourceMappingURL=bundle.css.map */
