input[type="checkbox"] {
    background-color: var(--green-lightest);
    border-color: var(--green-base);
    width: 24px;
    height: 24px;
    appearance: none;
    position: relative;
    user-select: none;
    cursor: pointer;
    border-radius: 2px;
    &:before {
        content: "";
        width: 16px;
        height: 16px;
        border-radius: 2px;
        background-color: var(--green-base);
        position: absolute;
        top: 4px;
        left: 4px;
        scale: 0;
        transition: scale 100ms ease-in-out, rotate 100ms ease-in-out 50ms;
    }
    &:checked {
        background-color: var(--green-light);
        &:before {
            scale: 1;
            rotate: 90deg;
        }
    }
    &:focus {
        outline: 1px solid var(--green-dark);
        outline-offset: 2px;
    }
}