dialog {
    border: 1px solid var(--neutral-base);
    border-radius: 3px;
    box-shadow: var(--elevation-5);
    animation: moveIn 1s ease-in-out;
}

dialog::backdrop {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0);
    backdrop-filter: blur(1px);

}
dialog.menu::backdrop {
    display: none;
}
dialog.menu:modal {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    height:min-content;
    contain-intrinsic-size: 100px 100px;
}

.menu-item {
    display: flex;
    height: 2rem;
    padding: 0 0.6rem;
    position: relative;
    line-height: 13px;
    color: var(--neutral-base);
    background-color: var(--white);
    align-items: center;
    &:before {
        content: "";
        background-color: var(--blue-base);
        width: 2px;
        top: 0;
        left: 0;
        transform: matrix(0,0,0,1,0,0);
        transform-origin: 0px 16px;
    }
    &:active {
        transform: matrix(1, 0, 0, 1, 0, 0);
    }
    &:hover {
        background-color: var(--neutral-light);
    }
}
ul, li {
    all: unset;
}
@keyframes moveIn {
    from {
        translateY: 20px;
    }
    to {
        translateY: 0;
    }
}