@import "vars";
$maxSteps: 100;
$stepInterval: 5;
$start: 0;
$current: 0;
$steps: (10,20,30,40,50,60,70,80,90);
:root {
    @each $name, $color in $colors {
        --#{$name}: #{$color};
        --#{$name}-lightest: #{tint($color, 95)};
        --#{$name}-light: #{tint($color, 60)};
        --#{$name}-dark: #{shade($color, 30)};
        --#{$name}-darkest: #{shade($color, 15)};
    }
    --border: #ddd;
    --border-radius: 3px;
    --bg: #fff;
    --fg: #333;
}

[theme="dark"]:root {
    @each $name, $color in $colors {
        --#{$name}: #{$color};
        --#{$name}-lightest: #{shade($color, 89)};
        --#{$name}-light: #{shade($color, 60)};
        --#{$name}-dark: #{tint($color, 50)};
        --#{$name}-darkest: #{tint($color, 10)};
    }
    --border: #333;
    --border-radius: 3px;
    --bg: rgb(0, 0, 0);
    --fg: #eee;
}


html, body {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    background-color: var(--bg);
    color: var(--fg);
}
@import "elements/alert/alert.scss";
@import "elements/badge/badge.scss";
@import "elements/button//button.scss";
@import "elements/checkbox/checkbox.scss";
@import "elements/dialog/dialog.scss";
@import "elements/radio/radio.scss";
@import "elements/select/select.scss";
@import "elements/progress/progress.scss";

@import "elements/form/input.scss";
@import "elements/form/label.scss";